<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="./img/favicon.png">
        <link rel="stylesheet" href='./css/styles.css'>
        
    </head>
    <body>
        <div class="main">
        {{>header}}
        <p>Get Weather Forecast Data below!</p>
        <form>
            <input placeholder="Location (Ex. New York)">
            <button>Search</button>
        </form>
        <img style="float:left;" id="weather-icon">
        <p id="msg-1"></p>
        <h4></h4>
        <p id="humidity"></p>
        <p id="cloudcover"></p>
        <p id="windspeed"></p>
        </div>
        {{>footer}}
        <script src="./js/main.js"></script>
    </body>
</html>